@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora";

}

h1 {
    font-family: "Lora";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
}

p {
    font-weight: 400;
}

.container_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #3045C4;
}

.imagem_mobile,
.fechar {
    display: none;
    cursor: pointer;
}

.imagem_logomarca {
    width: 100%;
}

.container_ul {
    display: flex;
}

.container_li {
    padding: 20px;
    list-style: none;
}

.container_li:hover {
    background: #96b7ee;
    border-radius: 10px;
}

.container_link_header {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.btn_agendar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    color: white;
    font-weight: bold;
    background: rgb(232, 141, 37);
    border-radius: 20px;
    cursor: pointer;
}

#container_section_home {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.link_home {
    color: white;
    text-decoration: none;
}

.container_imagem_home {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.container_informação_home {
    color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./img/Design\ sem\ nome\ \(1\).png");
    background-position: center;
    background-size: 610px;
}

.titulo_home {
    font-size: 30px;
    color: rgb(67, 83, 99);
    padding-bottom: 10px;
    text-align: center;
}

.texto_home {
    font-size: 24px;
    padding: 30px;
}

.btn_agendamento_home {
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    color: #ebe8e3;
    font-weight: bold;
    background-color: #3045C4;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 300px;
    margin-left: 30px;
}

.btn_agendamento_home:hover {
    background-color: chocolate;
}

#busca {
    width: 300px;
    height: 40px;
    margin-left: 30px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid #eee7e2;
    padding: 20px;
}

#busca::placeholder {
    color: rgb(67, 83, 99);
    text-align: center;
}

#busca:hover {
    outline: 2px solid #3045C4;
}

#container_servicos {
    text-align: center;
    font-size: 24px;
    color: rgb(67, 83, 99);
    padding-bottom: 20px;

}

.titulo_servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box_variedade_especialistas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.texto_especialista {
    width: 900px;
    text-align: center;
}

.especialidade {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 10px;
    border-radius: 5px;
}

.title_especialista {
    color: rgb(67, 83, 99);
}

.titulo_container_especialista,
.texto_especialista,
.especialidade {
    padding: 20px;
}

.imagem_especialista {
    width: 250px;
    height: 250px;
}

.mais_especialidades {
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    font-weight: bold;
    background: #3045C4;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 300px;
}

.mais_especialidades:hover {
    background: #f59106;
}

.link_especialidades {
    text-decoration: none;
    color: white;

}

#container_convenios {
    background-color: #3045C4;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.texto_convenio {
    font-size: 24px;
    width: 600px;
    padding: 10px;
}

.title_convenio {
    font-size: 24px;
    padding: 20px;
}

#busca_convenio {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid #eee7e2;
    padding: 20px;
}

#busca_convenio::placeholder {
    color: rgb(67, 83, 99);
    text-align: center;
}

#busca_convenio:hover {
    outline: 2px solid #f59106;
}

.image_convenio{
    max-width: 100%;
  
}

.btn_convenio{
    margin-left: 0;
    background-color: green;
}

.btn_convenio:hover{
    background-color: #f59106;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo_map {
    color: rgb(67, 83, 99);
    margin: 10px;
    padding-bottom: 10px;
}

.title_exames {
    color: darkslategrey;
    text-align: center;
    margin: 20px;
}

.container_exames {
    position: relative;
    padding: 15px;
    max-width: 790px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.left,
.right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: 40px;
    cursor: pointer;
    border: none;
    background: white;

}

.right {
    left: auto;
    right: 0;
}

.btn_left,
.btn_right {
    width: 40px;
}

.item {
    width: 590px;
    height: 300px;
    object-fit: contain;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
}

.current-item {
    opacity: 1;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #3045C4;
    width: 100%;
    padding:  50px;
    margin-top: 30px;
}

.ul-footer, .li-footer {
    display: flex;
}

.link-footer {
    color: white;
    text-decoration: none;
}

.texto-footer{
    font-size: 20px;
}

.img-footer{
    width: 60px;
    padding: 10px;
}

@media screen and (max-width:1024px) {
    .container_imagem_home {
        height: 500px;
    }

    .texto_especialista {
        padding: 0;
        margin: 0;
    }

    .imagem_especialista {
        width: 220px;
        height: 250px;
    }

    .especialidade {
        padding: 4px;
    }
}

@media screen and (max-width:800px) {
    .imagem_logomarca {
        width: 150px;
    }

    
.btn_convenio{
    margin-left: 0;
}

    .mapa {
        width: 100%;
        padding: 20px;
    }

    .titulo_home {
        font-size: 24px;
        margin-top: 20px;
    }

    .container_header {
        display: flex;
        flex-direction: column;
    }

    .container_ul {
        display: flex;
        flex-direction: column;
    }

    .container_li {
        padding-bottom: 20px;

    }

    .container_li:hover {
        background-color: #3f83f7;
    }

    .container_link_header {
        font-size: 20px;
        color: white;
    }

    .imagem_mobile {
        display: block;
        width: 50px;
    }

    .btn_agendamento_home {
        margin-left: 30px;
    }

    .container_imagem {
        display: flex;
        justify-content: space-between;
    }

    .container_navegação {
        display: none;
        background-color: #b0aeab;
        width: 270px;
        height: 350px;
        padding: 10px;
    }

    .fechar {
        display: block;
        width: 50px;
        right: 0;
        position: absolute;
        padding: 5px;
    }

    #container_section_home {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .container_informação_home {
        height: 350px;
        background-color: white;
    }

    .container_imagem_home {
        display: none;
    }

    .texto_especialista {
        margin: 20px;
        width: 90%;
        display: none;
    }

    .box_variedade_especialistas {
        display: flex;
        flex-wrap: wrap;
    }

    .especialidade {
        width: 170px;
        padding: 0;
    }

    .imagem_especialista {
        width: 100%;
        height: 150px;

    }

    .texto_home {
        padding: 0;
        margin: 10px;
        text-align: center;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .titulo_home {
        margin-top: 15px;
        padding: 0;
    }

    .texto_home,
    .texto_convenio {
        font-size: 20px;
    }

    #busca,
    .btn_agendamento_home {
        margin-left: 0;
    }

    .texto_convenio {
        width: 100%;
        padding: 20px;
    }

    .titulo_convenio {
        padding-bottom: 0;
    }

    .titulo_container_especialista {
        padding-bottom: 0;
    }

    .texto_especialista {
        display: none;
    }
    .container-footer{
        flex-direction: column;
    }
    .li-footer{
     padding: 10px;
    }
}

@media screen and (max-width:400px) {
    .container_informação_home {
        height: 500px;
        background-size: 300px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .mapa {
        width: 100%;
    }

    .texto_home {
        margin-top: 8px;
        text-align: center;
        font-size: 20px;
    }

    .texto_especialista {
        width: 90%;
        margin: 10px;
        display: none;
    }

    .titulo_container_especialista {
        font-size: 24px;
        text-transform: uppercase;
        padding-bottom: 0;
    }

    .especialidade {
        width: 140px;
    }

    .box_variedade_especialistas {
        margin: 20px;
    }

    .mobile2 {
        display: none;
    }

    .title_especialista {
        font-size: 20px;
        padding: 10px;
    }

    .especialidade,
    .imagem_especialista {
        width: 100%;
        object-fit: cover;
    }

    .btn_agendamento_home {
        margin-left: 0;
    }

    .mais_especialidades {
        width: 90%;
        margin: 10px;
        padding: 0;
        height: 35px;
    }
   
}

@media screen and (max-width:350px) {

    .titulo_home,
    .titulo_container_especialista {
        font-size: 22px;
    }

    .titulo_home {
        margin: 10px;
    }

    .texto_home {
        margin: 10px;
    }

    .especialidade,
    .imagem_especialista {
        width: 100%;
    }
}

@media screen and (max-width:320px) {

    #busca,
    .btn_agendamento_home,
    .mais_especialidades {
        width: 100%;
    }

    .btn {
        margin: 10px;
    }
}