h1{
    color:  #7ca6ed;
    padding: 10px;
    text-align: center;
}

p{
    font-size: 24px;
    color: darkslategray;
    text-align: center;
}

.box_agendamento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.formulario{
    display: block;
}

.container_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

input{
    display: block;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(192, 195, 201);
    background: #c7c8ce;
    margin-bottom: 10px;
    color: darkslategray;
}

input::placeholder{
    color: rgb(40, 33, 67);
    padding: 10px;
    font-size: 16px;
}

input:hover{
 outline: #7ca6ed 2px solid;
}

  @media screen and (max-width:400px) {
    input{
     width: 100%;
    }

    .formulario{
        width: 100%;
    }
  }